@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #3d88fc 0%, #e7f1ff 100%);
  min-height: 100vh;
}
